# Description: Environment variables for the application

# Application
PORT=3000

# Discord Bot Token
# https://discord.com/developers/applications
DISCORD_TOKEN=
# Discord Channel ID (to send messages)
CHANNEL_ID=

# Twitch API
# https://dev.twitch.tv/console/apps
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Twitch Webhook
# https://dev.twitch.tv/docs/eventsub/handling-webhook-events/
# URL needs to be SSL enabled (even for development)
# https://ngrok.com/
CALLBACK_URL=<BASE_URL>/twitch/webhook

CHANNEL_SECRET=mysecretwithlotsofchars

# Twitch Channel ID
BROADCASTER_ID=